<app-header></app-header>

<div class="contener" >
    <div class="header">
        <h4>Les emploi</h4>
    </div>
    <div class="content">
        <div class="search">
            <!-- 11111 -->
           <div class="all-emploi">
               <h2>20/06/2024</h2>
               <h2 style="color: #3ac458f9;line-height: 20px;">Recher d'un freeling pour la creations d'un logo</h2>
               <p style="margin-bottom: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor libero nemo perferendis debitis adipisci ut eligendi. 
                   Minima illo animi aspernatur dicta delectus magni
                    veniam recusandae molestias. Voluptates nihil minus quaerat. <span style="color: #3ac458f9; cursor:pointer">Plus</span></p>
                    <button (click)="navigatePage()">Postuler pour se post</button>
           </div>
       
            <!-- 11111 -->
            <div class="all-emploi">
               <h2>20/06/2024</h2>
               <h2 style="color: #3ac458f9;line-height: 20px;">Recher d'un freeling pour la creations d'un logo</h2>
               <p style="margin-bottom: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor libero nemo perferendis debitis adipisci ut eligendi. 
                   Minima illo animi aspernatur dicta delectus magni
                    veniam recusandae molestias. Voluptates nihil minus quaerat. <span style="color: #3ac458f9; cursor:pointer">Plus</span></p>
                 <button (click)="navigatePage()">Postuler pour se post</button>   
           </div>
       </div>
        <div class="profile">
            <div class="info-perso">
                <div class="image">
                    <img src="../../assets/image/1.jpg" alt="profile-image">
                </div>
                <h5 style="color: #3ac458f9;">DJANFAROU</h5>
                <h5>Hanif</h5>
                <h5>Contact: <span>90461340</span></h5>
            </div>
        </div>
    </div>
    
    
    
</div>