.content{
    
    max-width: 500px;
    margin: 200px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 2px;
    
}

p{
    font-weight: bold;
    font-size: 25px;
}

.freelincing{
    
    border-bottom: solid;
    margin: 10px;
    cursor: pointer;
}

.recrutere{
    margin: 10px;
    cursor: pointer;
}

input{
    outline: none;
    padding: 4px;
    border: none;
    cursor: pointer;
    
}