<app-post-header></app-post-header>

<div class="navBar">
    <div class="nav">
        <ul>
            <li (click)="setView('post')">Post</li>
            <li (click)="setView('messagerie')">Messagerie</li>
            <li (click)="setView('profile')">Profille</li>
        </ul>
    </div>
</div>
<div class="update" *ngIf="currentView === 'profile' ">
    <div class="update-contener">
        <div class="update-content">
            <div class="update-info">
                <div class="up-if">
                    <form #myForm >
                        <label for="username">Username</label>
                    </form>
                </div>
            </div>
            <div class="update-profile">
                <p>salut</p>
            </div>
        </div>
    </div>
</div>
<div class="contener" *ngIf="currentView !== 'profile' ">

<!-- messagerie post -->
    <app-message-post *ngIf="currentView === 'messagerie'"></app-message-post>
<!-- Fin  -->
    <div class="post" *ngIf="currentView === 'post'">
        <h1>Envoyez un post pour le Recruter</h1>
        <div class="formular">
            <form action="post">
                
                    <label for="title">Titre du post</label>
                    <div class="input">
                        <input type="text" >
                    </div>
                    <label for="Description">Description du post</label>
                    <div class="description">
                        <textarea name="description" id="description"></textarea>
                    </div>
                    <label for="nombre">Nombre de personne a recruter</label>
                    <div class="number">
                        <input type="number" >
                    </div>
                <div class="button">
                    <button>Envoyer le post</button>
                </div>
            </form>
        </div>
    </div>
    
    <div class="profile">
        <div class="info-perso">
            <div class="image">
                <img src="../../assets/image/1.jpg" alt="profile-image">
            </div>
            <h5 style="color: #3ac458f9;">DJANFAROU</h5>
            <h5>Hanif</h5>
            <h5>Contact: <span>90461340</span></h5>
        </div>


    </div>
</div>