<app-header></app-header>

<div class="contener">
    <div class="content">
        <div class="post">
            <h2>20/06/2024</h2>
            <h2 style="color: #3ac458f9;line-height: 20px;">Recher d'un freeling pour la creations d'un logo</h2>
            <p style="margin-bottom: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor libero nemo perferendis debitis adipisci ut eligendi. 
                Minima illo animi aspernatur dicta delectus magni
                 veniam recusandae molestias. Voluptates nihil minus quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quod quisquam commodi dolore atque dolorem cumque similique, nisi, quas eveniet nesciunt 
                 autem ad officiis! Dolorum id a voluptates tempora reiciendis!</p>
                 
                 <form action="post">
                    <div class="post-m">
                        <textarea name="post" id="motivation"></textarea>
                    </div>
                    <button >Postuler</button>
                 </form>
                 <button>Anuler</button>
        </div>
        <div class="info">
            
        </div>
    </div>
</div>
