
<div class="contener">
    <div class="content">
        <div class="info">
            <h1>Profile</h1>
            <div class="form">
                <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
                    <div class="first">
                        <label for="first">Nom</label>
                        <input type="text" name="firstName" placeholder="First Name" [(ngModel)]="model.firstName" required>
                    </div>
                    <div class="last">
                        <label for="last">Prenoms</label>
                        <input type="text" name="lastName" placeholder="last Name" [(ngModel)]="model.lastName" required>
                    </div>
                    <div class="adress">
                        <label for="adress">Adress</label>
                        <input type="text" name="adress" placeholder="Kara\abouda" [(ngModel)]="model.adress" required>
                    </div>
                    <div class="age">
                        <label for="age">Date de naissance</label>
                        <input type="date" name="birthDate" placeholder="date" [(ngModel)]="model.birthDate" required="">
                    </div>
                    
                    <button type="submit" [disabled]="myForm.invalid">Enregistre</button>
                </form>
            </div>
        </div>
        <div class="profile">
            <div class="profile-image">
                <img src="../../assets/image/git.jpg" alt="">
            </div>
                <form action="">
                    <div class="image-file">
                        <input type="file" placeholder="importer une image">
                    </div>
                    
                </form>
        </div>
    </div>
</div>