
<div class="contener">
    <div class="message">
        <h4>Title de la post envoyer</h4>
        <h3>response: 3</h3>
        <div class="freeling-message">
            <div class="info">
                <h1>Djanfarou Hanif</h1>
                <h1>20h:15 20/07/2024</h1>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Magnam blanditiis possimus quaerat doloremque libero eveniet
                  consequuntur quos, sint recusandae. Doloribus nisi repudiandae 
                corrupti quasi fugiat dignissimos nihil, tenetur velit cupiditate.</p>

                <button>recruter</button>
        </div>
    </div>
    <!-- 1111 -->
    <div class="message">
        <h4>Title de la post envoyer</h4>
        <h3>response: 3</h3>
        <div class="freeling-message">
            <div class="info">
                <h1>Djanfarou Hanif</h1>
                <h1>20h:15 20/07/2024</h1>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Magnam blanditiis possimus quaerat doloremque libero eveniet
                  consequuntur quos, sint recusandae. Doloribus nisi repudiandae 
                corrupti quasi fugiat dignissimos nihil, tenetur velit cupiditate.</p>

                <button>recruter</button>
        </div>
    </div>
</div>