.contener-all{
   
    box-shadow: 0 0 4px ;
    margin: 20px;
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 10px;
    
}

.body{
   
    margin: 10px;
}
.obj{
    margin-bottom: 10px;
    border-radius: 10px;
    ul{
        margin: 15px;
        font-weight: bold;
        font-size: 20px;
    }
    h3{
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        color: rgb(183, 0, 255);
    }
}

.partener{
    margin: 10px;
    box-shadow: 0 0 4px ;
    border-radius: 10px;
    h2{
        font-weight: bold;
        text-align: center;
        font-size: 25px;
        color: rgb(183, 0, 255);
       
    }
}
.produit{
    height: 100px;
    box-shadow: 0 0 4px rgb(183, 0, 255);
    border-radius: 10px;
    
}

.tem{
   
    margin: 10px;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px ;
    border-radius: 10px;
    background: rgb(183, 0, 255);
    ul{
        width: 100%;
    }
    li{
        font-weight: bold;
        margin: 10px;
        font-size: 25px;
        background: white;
        text-align: center;
        cursor: pointer;
    }
    
    

}

.colab{
   
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    

    h2{
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        width: 100%;
        border-bottom: solid;
        color: rgb(183, 0, 255);
    }
}

.avis{
    display: grid;
    grid-template-columns: auto auto;
    
    justify-content: center;
    width: 90%;
}
.profile{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .img{
        width: 200px;
            img{
                border-radius: 50%;
            }
        
    }
    h3{
        width: 100%;
        text-align: center;
        
    }
    p{
        text-align: center;
        width: 70%;
    }
}

@media screen and (max-width: 800px){
    .profile{
        
        p{
            
            width: 100%;
        }
    }
}

@media screen and (max-width:600px) {
    .contener-all{
        grid-template-columns: auto;
        
    }
    .body{
        order:2
    }
    .tem{
        min-height: 300px;
        li{
            font-size: 16px;
        }
    }

    .avis{
        grid-template-columns: auto;
        .img{
            width: 100px;
        }
    }


}