<div class="contener">
    <!-- 1111 -->
    <div class="Entrer"></div>

    <div class="contener-all">
        
        <!-- 222222 -->
        <div class="body">
            <div class="obj">
                <h3>Les Postes a pourvoire</h3>
                <ul>
                    <li>Assistant cabiner</li>
                    <li>Ingenier Logicielle</li>
                    <li>Marketere</li>
                    <li>Mes d'ouvre</li>
                    <li>Veterinaire</li>
                    <li>Designer</li>
                    <li>Metenancier</li>
                    <li>autre...</li>
                </ul>
            </div>
            <div class="produit">
                
            </div>
        </div>
        <!-- 3333 -->
        <div class="tem"></div>
    </div>
   
     <!-- 444444 -->
     <div class="colab">
        <h2>Avis des client</h2>
        <div class="avis">
            <!-- -llll -->
            <div class="profile">
                <div class="img">
                    <img src="../../assets/image/2.jpg" alt="">
                </div>
                <h3 class="name">Djanfarou Hanif</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                     Quo rerum repellat repellendus nihil est hic, repudiandae
                     deserunt eum, eos temporibus voluptate iste voluptatum!</p>
            </div>
            <!-- ---222 -->
            <div class="profile">
                <div class="img">

                    <img src="../../assets/image/1.jpg" alt="">
                </div>
                <h3 class="name">Djanfarou Hanif</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                     Quo rerum repellat repellendus nihil est hic, repudiandae
                     deserunt eum, eos temporibus voluptate iste voluptatum!</p>
            </div>
        </div>
     </div>

     <div class="partener">
        <h2>Nos partener</h2>
                
    </div>
</div>