.contener{
    display: grid;
    grid-template-columns: 70% auto;
    margin: 20px;
    box-shadow: 0 0 4px ;
    border-radius: 10px;

}


.profile{
    box-shadow: 0 0 4px ;
    margin: 10px;
    border-radius: 10px;
    max-height: 400px;
}

.image{
    width: 150px;
    margin: 10px;
    box-shadow: 0 0 4px;
}

h5{
    margin: 10px;
    font-weight: bold;
    border-bottom: 1px solid;
}

.message1{
    box-shadow: 0 0 4px;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;

}
.contener{
    margin: 10px;
    box-shadow: 0 0 4px;
    border-radius: 10px;
}

.message{
    margin: 10px;
    box-shadow: 0 4px 4px -4px;
}

h4{
    font-weight: bold;
    color: rgb(183, 0, 255);
    font-size: 25px;
}
.freeling-message{
    margin: 20px;
    overflow: auto;
}
h1{
    font-weight: bold;
    color: rgb(183, 0, 255);
}

button{
    float: right;
    border: 1px solid rgb(183, 0, 255);
    margin: 5px;
    border-radius: 20px;
    background-color: rgb(183, 0, 255);
    padding: 3px;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.5s ease-in-out;
}

button:hover{
    transform: scale(1.01);
    transition: all 0.2s ease-in-out;
}

.info{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

@media screen and (max-width:700px){
   .contener{
    grid-template-columns: auto;

   }
   .profile{
    order: 1;
   }
   .message{
    order: 2;
   }
}