

<div class="navBar">
    <div class="nav">
        <ul>
            <li (click)="setView('post')">Post</li>
            <li (click)="setView('message')">Messagerie</li>
        </ul>
    </div>
</div>

<div class="contener">
<div class="message" *ngIf="current === 'post' ">
    <div class="message1">
        <h4>Title de la post envoyer</h4>
        
    </div>
    <!-- 1111 -->
    <div class="message1">
        <h4>Title de la post envoyer</h4>
      
    </div>
</div>
<!-- --------------------------------------------------- -->
<div class="proposale" *ngIf="current === 'message' ">
    <div class="mes-pro" style="overflow: auto;">
        <h4>Proposale title response</h4>
        <div class="conv">
            <p class="post">Vue ton profile je croix que tu sera bon pour se post </p>
            <p class="user">ok j'ai capter</p>
            <p>Ons se vois apres</p>
        </div>
        <h1>envoyer une response</h1>
        <form action="">
            <div class="res">
                <input type="text" placeholder="response">
            </div>
            <button>repondre</button>
        </form>
    </div>
<!-- ---------------------------------- -->
    <div class="mes-pro" style="overflow: auto;">
        <h4>Proposale title response</h4>
        <p>Vue ton profile je croix que tu sera bon pour se post </p>
        <h1>envoyer une response</h1>
        <form action="">
            <div class="res">
                <input type="text" placeholder="response">
            </div>
            <button>repondre</button>
        </form>
    </div>

</div>
<!-- __________________________________________________________ -->
    <div class="profile">
        <div class="info-perso">
            <div class="image">
                <img src="../../assets/image/1.jpg" alt="profile-image">
            </div>
            <h5 style="color: #3ac458f9;">DJANFAROU</h5>
            <h5>Hanif</h5>
            <h5>Contact: <span>90461340</span></h5>
        </div>


    </div>
</div>