.contener{
    display: grid;
    grid-template-columns: 70% auto;
    margin: 20px;
    box-shadow: 0 0 4px ;
    border-radius: 10px;

}


.profile{
    box-shadow: 0 0 4px ;
    margin: 10px;
    border-radius: 10px;
    max-height: 400px;
}

.image{
    width: 150px;
    margin: 10px;
    box-shadow: 0 0 4px;
}

h5{
    margin: 10px;
    font-weight: bold;
    border-bottom: 1px solid;
}

.message{
    box-shadow: 0 0 4px;
    margin: 10px;
    border-radius: 10px;

}


@media screen and (max-width:700px){
   .contener{
    grid-template-columns: auto;

   }
   .profile{
    order: 1;
   }
   .message{
    order: 2;
   }
}